/* [sass, css, custom.scss] */
/* line 20, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h1, h2, h3, h4, h5 {
  font-family: "Cronos Pro", sans-serif;
  font-weight: bold; }

/* line 25, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h1 {
  font-size: 32px;
  clear: both;
  color: #ef542c; }

/* line 26, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h2 {
  font-size: 24px;
  clear: both;
  color: #9C4722; }

/* line 29, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
body {
  width: 100vw;
  background-color: #587891; }

/* line 34, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
#header {
  height: 65px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: #fff;
  z-index: 1000;
  /*border-bottom: 2px red solid;*/
  box-shadow: 0px 2px 8px rgba(40, 20, 20, 0.25); }
  /* line 45, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  #header img {
    height: 60px;
    margin: 2px 0px 2px 5px; }
  /* line 50, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  #header #story-title {
    display: inline-block;
    font-size: 26px;
    color: #326b84;
    width: 30%;
    margin: 11px 20%;
    font-family: "Cronos Pro", sans-serif;
    text-align: center; }

/* line 62, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h1.title {
  width: 860px;
  margin: auto;
  padding: 40px;
  font-size: 40px;
  color: #fff;
  margin-top: 200px; }

/* line 70, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h2.title {
  width: 860px;
  margin: auto;
  padding: 40px;
  font-size: 28px;
  color: #fff; }

/* line 79, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.intro {
  width: 860px;
  margin: auto;
  padding: 40px; }
  /* line 84, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .intro .heading {
    font-size: 32px; }
  /* line 87, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .intro .subhead {
    font-size: 18px; }
  /* line 90, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .intro span {
    display: block; }

/* line 96, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
#content {
  width: 860px;
  margin: auto;
  background-color: #F4F4F4;
  padding: 40px;
  color: #656565;
  font-size: 16px;
  line-height: 32px;
  box-shadow: 0px 1px 6px rgba(20, 20, 20, 0.5); }
  /* line 106, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  #content p {
    font-family: "Chaparral Pro", Georgia, serif; }

/* line 111, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.section, .slide {
  margin: 30px 0; }

/* line 114, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.section {
  margin-bottom: 100px;
  border-bottom: 1px solid #ccc; }

/* line 119, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.blockquote {
  display: inline-block;
  font-size: 26px;
  padding: 20px 0px;
  border-top: 1px solid #ef542c;
  border-bottom: 1px solid #ef542c;
  color: #ef542c;
  width: 270px;
  font-family: "Chaparral Pro", Georgia, serif;
  margin: 40px 0px; }

/* line 131, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.column-50 {
  display: inline-block;
  width: 48%;
  padding: 2%; }

/* line 137, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-lg {
  width: 100%;
  position: relative; }
  /* line 141, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .chart-lg .stage-next {
    position: absolute;
    top: 150px;
    right: -29px;
    height: 58px;
    width: 58px;
    font-size: 32px;
    line-height: 60px;
    background-color: #9C4722;
    color: #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.2); }
  /* line 154, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .chart-lg .stage-next::after {
    content: 'NEXT';
    position: absolute;
    line-height: 24px;
    top: -25px;
    left: 13px;
    color: #9C4722;
    font-size: 12px;
    text-shadow: 0px 2px 4px rgba(20, 20, 20, 0.4); }
  /* line 164, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .chart-lg .stage-next:hover {
    opacity: 0.8; }

/* line 169, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-lg, .chart-md, .chart-sm {
  background-color: #fff;
  color: #ccc;
  margin: 20px 0px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 1px 4px rgba(40, 20, 20, 0.2);
  padding: 15px; }

/* line 179, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-sm {
  width: 340px;
  float: right;
  margin-left: 30px; }

/* line 185, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-sm-title {
  width: 340px;
  margin-left: 30px;
  font-size: 24px;
  color: #656565;
  font-family: "Chaparral Pro", Georgia, serif; }

/* line 193, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-sm-wrapper {
  width: 370px;
  float: right; }

/* line 198, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-md {
  width: 560px; }

/* line 203, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.stakeholders, .definitions {
  display: inline-block;
  width: 160px;
  text-align: left; }

/* line 208, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.definitions {
  font-size: 10px;
  line-height: 12px; }

/* line 213, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.calculator img {
  width: 200px; }
/* line 216, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.calculator .stakeholder {
  margin-bottom: 10px; }
/* line 219, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.calculator .glyphicon {
  background-color: #ef542c !important;
  color: #fff;
  border-radius: 100%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  line-height: 2rem;
  text-align: center;
  margin-right: 5px; }

/* line 235, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.waterfall-coal .annotate {
  transition: all 1s; }
/* line 238, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.waterfall-coal .stage-2 {
  opacity: 0;
  transition: opacity 0.5s; }
/* line 242, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.waterfall-coal .stage-next:hover {
  opacity: 0.8; }
  /* line 244, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .waterfall-coal .stage-next:hover .stage-2 {
    opacity: 1; }
