/* [sass, css, custom.scss] */
@font-face {
  font-family: 'Chaparral Pro';
  src: url("../fonts/chaparralpro-regular-webfont.eot");
  src: url("../fonts/chaparralpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chaparralpro-regular-webfont.woff") format("woff"), url("../fonts/chaparralpro-regular-webfont.ttf") format("truetype"), url("../fonts/chaparralpro-regular-webfont.svg#ChaparralProRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cronos Pro';
  src: url("../fonts/cronospro-lt-webfont.eot");
  src: url("../fonts/cronospro-lt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cronospro-lt-webfont.woff") format("woff"), url("../fonts/cronospro-lt-webfont.ttf") format("truetype"), url("../fonts/cronospro-lt-webfont.svg#CronosProLight") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 22, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h1, h2, h3, h4, h5 {
  font-family: "Cronos Pro", sans-serif;
  font-weight: bold; }

/* line 27, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h1 {
  font-size: 32px;
  clear: both;
  color: #ef542c; }

/* line 28, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h2 {
  font-size: 24px;
  clear: both;
  color: #9C4722; }

/* line 31, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
body {
  width: 100vw;
  background-color: #587891; }

/* line 36, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
#header {
  height: 65px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: #fff;
  z-index: 1000;
  /*border-bottom: 2px red solid;*/
  box-shadow: 0px 2px 8px rgba(40, 20, 20, 0.25); }
  /* line 47, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  #header img {
    height: 60px;
    margin: 2px 0px 2px 5px; }
  /* line 52, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  #header #story-title {
    display: inline-block;
    font-size: 26px;
    color: #326b84;
    width: 30%;
    margin: 11px 20%;
    font-family: "Cronos Pro", sans-serif;
    text-align: center; }

/* line 64, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h1.title {
  width: 860px;
  margin: auto;
  padding: 40px;
  font-size: 40px;
  color: #fff;
  margin-top: 200px; }

/* line 72, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
h2.title {
  width: 860px;
  margin: auto;
  padding: 40px;
  font-size: 28px;
  color: #fff; }

/* line 81, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.intro {
  width: 860px;
  margin: auto;
  padding: 40px; }
  /* line 86, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .intro .heading {
    font-size: 32px; }
  /* line 89, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .intro .subhead {
    font-size: 18px; }
  /* line 92, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .intro span {
    display: block; }

/* line 98, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
#content {
  width: 860px;
  margin: auto;
  background-color: #F4F4F4;
  padding: 40px;
  color: #656565;
  font-size: 16px;
  line-height: 32px;
  box-shadow: 0px 1px 6px rgba(20, 20, 20, 0.5); }
  /* line 108, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  #content p {
    font-family: "Chaparral Pro", Georgia, serif; }

/* line 113, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.section, .slide {
  margin: 30px 0; }

/* line 116, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.section {
  margin-bottom: 100px;
  border-bottom: 1px solid #ccc; }

/* line 121, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.blockquote {
  display: inline-block;
  font-size: 26px;
  padding: 20px 0px;
  border-top: 1px solid #ef542c;
  border-bottom: 1px solid #ef542c;
  color: #ef542c;
  width: 270px;
  font-family: "Chaparral Pro", Georgia, serif;
  margin: 40px 0px; }

/* line 133, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.column-50 {
  display: inline-block;
  width: 48%;
  padding: 2%; }

/* line 139, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-lg {
  width: 100%;
  position: relative; }
  /* line 143, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .chart-lg .stage-next {
    position: absolute;
    top: 150px;
    right: -29px;
    height: 58px;
    width: 58px;
    font-size: 32px;
    line-height: 60px;
    background-color: #9C4722;
    color: #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.2); }
  /* line 156, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .chart-lg .stage-next::after {
    content: 'NEXT';
    position: absolute;
    line-height: 24px;
    top: -25px;
    left: 13px;
    color: #9C4722;
    font-size: 12px;
    text-shadow: 0px 2px 4px rgba(20, 20, 20, 0.4); }
  /* line 166, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .chart-lg .stage-next:hover {
    opacity: 0.8; }

/* line 171, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-lg, .chart-md, .chart-sm {
  background-color: #fff;
  color: #ccc;
  margin: 20px 0px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 1px 4px rgba(40, 20, 20, 0.2);
  padding: 15px; }

/* line 181, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-sm {
  width: 340px;
  float: right;
  margin-left: 30px; }

/* line 187, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-sm-title {
  width: 340px;
  margin-left: 30px;
  font-size: 24px;
  color: #656565;
  font-family: "Chaparral Pro", Georgia, serif; }

/* line 195, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-sm-wrapper {
  width: 370px;
  float: right; }

/* line 200, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.chart-md {
  width: 560px; }

/* line 205, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.stakeholders, .definitions {
  display: inline-block;
  width: 160px;
  text-align: left; }

/* line 210, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.definitions {
  font-size: 10px;
  line-height: 12px; }

/* line 215, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.calculator img {
  width: 200px; }
/* line 218, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.calculator .stakeholder {
  margin-bottom: 10px; }
/* line 221, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.calculator .glyphicon {
  background-color: #ef542c !important;
  color: #fff;
  border-radius: 100%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  line-height: 2rem;
  text-align: center;
  margin-right: 5px; }

/* line 237, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.waterfall-coal .annotate {
  transition: all 1s; }
/* line 240, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.waterfall-coal .stage-2 {
  opacity: 0;
  transition: opacity 0.5s; }
/* line 244, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
.waterfall-coal .stage-next:hover {
  opacity: 0.8; }
  /* line 246, /Users/michael/dev/clients/cpi/new-climate-economy/css/custom.scss */
  .waterfall-coal .stage-next:hover .stage-2 {
    opacity: 1; }
