/* [sass, css, custom.scss] */
/* line 5, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
h1 {
  font-size: 32px;
  clear: both; }

/* line 6, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
h2 {
  font-size: 24px;
  clear: both; }

/* line 9, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
body {
  width: 100vw;
  background-color: #587891; }

/* line 14, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.title {
  width: 860px;
  margin: auto;
  padding: 40px;
  font-size: 40px; }

/* line 21, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.intro {
  width: 860px;
  margin: auto;
  padding: 40px; }
  /* line 26, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
  .intro .heading {
    font-size: 32px; }
  /* line 29, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
  .intro .subhead {
    font-size: 18px; }
  /* line 32, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
  .intro span {
    display: block; }

/* line 38, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
#content {
  width: 860px;
  margin: auto;
  background-color: #F4F4F4;
  padding: 40px; }

/* line 45, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.section, .slide {
  margin: 30px 0; }

/* line 48, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.section {
  margin-bottom: 100px;
  border-bottom: 1px solid #ccc; }

/* line 53, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.column-50 {
  display: inline-block;
  width: 48%;
  padding: 2%; }

/* line 59, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.chart-lg {
  width: 100%; }

/* line 63, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.chart-lg, .chart-sm {
  background-color: #fff;
  color: #ccc;
  margin: 20px 0px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 1px 4px rgba(40, 20, 20, 0.2); }

/* line 72, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.chart-sm {
  width: 340px;
  float: right;
  margin-left: 30px; }
