/* [sass, css, custom.scss] */
/* line 6, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
body {
  width: 100vw;
  background-color: #587891; }

/* line 12, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.intro {
  width: 860px;
  margin: auto;
  padding: 40px; }
  /* line 17, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
  .intro .heading {
    font-size: 32px; }
  /* line 20, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
  .intro .subhead {
    font-size: 18px; }
  /* line 23, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
  .intro span {
    display: block; }

/* line 29, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
#content {
  width: 860px;
  margin: auto;
  background-color: #fff;
  padding: 40px; }

/* line 37, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.section, .slide {
  margin: 30px 0; }

/* line 42, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.chart-sm {
  width: 300px;
  height: 240px;
  background-color: #efefef;
  color: #ccc; }

/* line 50, /Users/lappy/Documents/Users/lappy/Sites/cpi_new-climate-economy/css/custom.scss */
.chart-lg {
  width: 760px;
  height: 300px;
  background-color: #efefef;
  color: #ccc; }
