$font-sans: 'cronos-pro', sans-serif;
$font-serif: 'chaparral-pro', Georgia, serif;
$font-detail: Verdana, Arial, sans-serif;
$font-heading: Lato, Verdana, Arial, sans-serif;

$cpi-orange: #E96D34;
$cpi-dk-orange: #B95727;
$cpi-brown: #9C4722;

$body-grey: #656565;

$red: #ef542c;
$dk-marine-blue: #326b84;
$dk-purple: rgb(113, 75, 121);
$gb-green: #35736b;
$green: #028b00;
$dk-blue: #174190;
$orange: #dd6a34;

svg {
	text { font-family: $font-sans;}
}

h1, h2, h3, h4, h5 {
	font-family: $font-heading;
	font-weight: bold;
}

h1 { font-size: 32px; clear: both; color: $red;}
h2 { font-size: 24px; clear: both; color: $cpi-brown;}


body {
	width: 100vw;
	background-color: #587891;
}

#header {
	height: 65px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	background-color: #fff;
	z-index: 1000;
	/*border-bottom: 2px red solid;*/
	box-shadow: 0px 2px 8px rgba(40,20,20,0.25);

	img {
		height: 60px;
		margin: 2px 0px 2px 5px;
	}

	#story-title {
		display: inline-block;
		font-size: 26px;
		color: $dk-marine-blue;
		width: 30%;
		margin: 11px 20%;
		font-family: $font-sans;
		text-align: center;
	}
}


h1.title {
	width: 860px;
	margin: auto;
	padding: 40px;
	font-size: 40px;
	color: #fff;
	margin-top: 100px;
}
h2.title {
	width: 860px;
	margin: auto;
	padding: 40px;
	font-size: 28px;
	color: #fff;
}


.intro-content {
	width: 860px;
	margin: auto;
	padding: 40px;
	margin-top: 300px;
	color: white;

	.heading {
		font-size: 32px;
	}
	.subhead {
		font-size: 18px;
	}
	span {
		display: block;
	}
}

#intro {
	position: fixed;
	background-image: url('../img/intro-bg.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100vw;
	padding-top: 100px;
}

#intro-chart {
	position: relative;
	top: 0px;
	width: 780px;
	margin: 0px auto;

	#timeseries-past {
		stroke-width: 3;
		stroke: #F8E71C;
	}

	#timeseries-projection, #timeseries-projection-decoration-1 {
		stroke-width: 3;
		stroke: #F5A623;
	}

	#target-scenario {
		stroke-width: 3;
		stroke: #50E3C2;
	}

	#intro-x-axis path, #intro-y-axis path {
		stroke: #FFF;
	}
	#intro-x-axis text, #intro-y-axis text {
		fill: #FFF;
	}
}

#content {
	position: relative;
	top: 2000px;
	z-index: 100;
	width: 860px;
	margin: auto;
	background-color: #F4F4F4;
	padding: 40px;
	color: $body-grey;
	font-size: 16px;
	line-height: 32px;
	box-shadow: 0px 1px 6px rgba(20,20,20,0.5);

	p {
		font-family: $font-serif;
	}
}

.section, .slide {
	margin: 30px 0;
}
.section {
	margin-bottom: 100px;
	border-bottom: 1px solid #ccc;
}

.blockquote {
	display: inline-block;
	font-size: 26px;
	padding: 20px 0px;
	border-top: 1px solid $red;
	border-bottom: 1px solid $red;
	color: $red;
	width: 270px;
	font-family: $font-serif;
	margin: 40px 0px;
}

.column-50 {
	display: inline-block;
	width: 48%;
	padding: 2%;
}

.stage-next {
	position: absolute;
	z-index: 900;
	top: 150px;
	right: -29px;
	height: 58px;
	width: 58px;
	font-size: 32px;
	line-height: 60px;
	background-color: $cpi-brown;
	color: #fff;
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 6px rgba(20,20,20,0.2);
}
.stage-next::after {
	content: 'NEXT';
	position: absolute;
	line-height: 24px;
	top: -25px;
	left: 13px;
	color: $cpi-brown;
	font-size: 12px;
	text-shadow: 0px 2px 4px rgba(20,20,20,0.4);
}
.stage-next:hover {
	opacity: 0.8;
}

.chart-lg {
	width: 100%;
	position: relative;
}

.chart-lg, .chart-md, .chart-sm {
	background-color: #fff;
	color: $body-grey;
	margin: 20px 0px;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0px 1px 4px rgba(40,20,20,0.2);
	padding: 15px;
}

.chart-sm {
	width: 340px;
	float: right;
	margin-left: 30px;
}

.chart-sm-title {
	width: 340px;
	margin-left: 30px;
	font-size: 24px;
	color: $body-grey;
	font-family: $font-serif;
}

.chart-sm-wrapper {
	width: 370px;
	float: right;
}

.chart-md {
	width: 560px;
	position: relative;
}

//TAXATION + INNOVATION CALCULATORS
.calculator {
	* {
		vertical-align: top;
	}

	font-family: $font-sans;

	img { 
		width: 200px;
		vertical-align: top;
	}
		#country-name {
		width: 540px;
		float: right;
		border-bottom: 1px #949494 solid;
		font-size: 24px;
		color: $dk-marine-blue;
	}
	.svg-detail, .svg-countries {
		display: inline-block;
	}
	.svg-countries {
		margin-right: 25px;
		margin-top: 10px;
		padding-top: 10px;
		padding-right: 15px;
		border-right: solid #e4e4e4 1px;
		height: 320px;
	}
	.stakeholder {
		margin-bottom: 30px;
		line-height: 50px;
	}
	.icon-user {
		height: 50px;
		width: 50px;
		margin-right: 5px;

		img {
			height: 50px;
			width: 50px;
		}
	}
	.title {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.stakeholders, .definitions {
		display: inline-block;
		width: 160px;
		text-align: left;
	}
	.definitions {

		.definition {
			font-size: 14px;
			margin-bottom: 30px;
			height: 50px;
			line-height: 16px;
		}
	}

	.bar {
		fill: #326B84;
	}

}
#net-country-1, 
#net-country-2, 
#net-country-3, 
#net-country-4, 
#net-country-5, 
#net-country-6 {
	cursor: pointer;

	rect:hover {
		fill-opacity: 0.5;
	}
} 


// WATERFALL CHART - COAL
.waterfall-coal {
	.annotate {
		transition: all 1s;
	}
	.stage-2 {
		opacity: 0;
		transition: opacity 0.5s;
	}
	.stage-next:hover {
		opacity: 0.8;
		.stage-2 {
			opacity: 1;
		}
	}
}
//WATERFALL CHART - OIL

// LOW HANGING FRUIT CHART
#low-hanging-fruit {
	position: relative;

	.bottom-section {
		top: -50px;
		position: relative; 
	}

	.particle {
		opacity: 0.15
	}

	.particle.oil {
		fill: rgba(50, 107, 132, 1);
	}

	.particle.gas {
		fill: rgba(113, 75, 121, 1);
	}

	.particle.coal {
		fill: rgba(239, 84, 44, 1);
	}

	.annotation {
		font-family: $font-sans; 
		font-size: 20px;
		color: #797979; 
		position: absolute;
		right: 20px;
		top: 250px;  
		display: none;
	}

}

#low-hanging-fruit.stage2 {
	.annotation {
		display: inline;
	}
}


//FINANCING 
.financing {
	height: 300px;
	
	.definitions {

	}
	.definition {
		text-align: left;
		font-size: 10px;
		line-height: 12px;
		width: 170px;
		margin: 5px 10px 5px 0px;
		display: inline-block;

		.title {
			font-size: 18px;
			display: block;
		}
	}
	img.US, img.EU {
		position: absolute;
		top: 60px;
		left: 0px;
	}
	img.EU {
		opacity: 0;
	}
}

#title-animation {
	position: absolute;
	top: 0;
	left: 0;

	circle {
		fill: #cc545b;
		opacity: 0.5;
	}
}
