$font-sans: 'Cronos Pro', sans-serif;
$font-serif: 'Chaparral Pro', Georgia, serif;
$font-detail: Verdana, Arial, sans-serif;

$cpi-orange: #E96D34;
$cpi-dk-orange: #B95727;
$cpi-brown: #9C4722;

$body-grey: #656565;

$red: #ef542c;
$dk-marine-blue: #326b84;
$dk-purple: rgb(113, 75, 121);
$gb-green: #35736b;
$green: #028b00;
$dk-blue: #174190;
$orange: #dd6a34;


h1, h2, h3, h4, h5 {
	font-family: 'Proxima Nova';
	font-weight: bold;
}

h1 { font-size: 32px; clear: both; color: $red;}
h2 { font-size: 24px; clear: both; color: $cpi-brown;}


body {
	width: 100vw;
	background-color: #587891;
}

#header {
	height: 65px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	background-color: #fff;
	z-index: 1000;
	/*border-bottom: 2px red solid;*/
	box-shadow: 0px 2px 8px rgba(40,20,20,0.25);

	img {
		height: 60px;
		margin: 2px 0px 2px 5px;
	}

	#story-title {
		display: inline-block;
		font-size: 26px;
		color: $dk-marine-blue;
		width: 30%;
		margin: 11px 20%;
		font-family: $font-sans;
		text-align: center;
	}
}


h1.title {
	width: 860px;
	margin: auto;
	padding: 40px;
	font-size: 40px;
	color: #fff;
	margin-top: 200px;
}


.intro {
	width: 860px;
	margin: auto;
	padding: 40px;

	.heading {
		font-size: 32px;
	}
	.subhead {
		font-size: 18px;
	}
	span {
		display: block;
	}
}


#content {
	width: 860px;
	margin: auto;
	background-color: #F4F4F4;
	padding: 40px;
	color: $body-grey;
	font-size: 16px;
	line-height: 32px;
	box-shadow: 0px 1px 6px rgba(20,20,20,0.5);

	p {
		font-family: $font-serif;
	}
}

.section, .slide {
	margin: 30px 0;
}
.section {
	margin-bottom: 100px;
	border-bottom: 1px solid #ccc;
}

.blockquote {
	display: inline-block;
	font-size: 26px;
	padding: 20px 0px;
	border-top: 1px solid $red;
	border-bottom: 1px solid $red;
	color: $red;
	width: 270px;
	font-family: $font-serif;
	margin: 40px 0px;
}

.column-50 {
	display: inline-block;
	width: 48%;
	padding: 2%;
}

.chart-lg {
	width: 100%;
	position: relative;

	.stage-next {
		position: absolute;
		top: 150px;
		right: -29px;
		height: 58px;
		width: 58px;
		font-size: 32px;
		line-height: 60px;
		background-color: $cpi-brown;
		color: #fff;
		border-radius: 100%;
		-webkit-box-shadow: 0px 0px 6px rgba(20,20,20,0.2);
	}
	.stage-next::after {
		content: 'NEXT';
		position: absolute;
		line-height: 24px;
		top: -25px;
		left: 13px;
		color: $cpi-brown;
		font-size: 12px;
		text-shadow: 0px 2px 4px rgba(20,20,20,0.4);
	}
	.stage-next:hover {
		opacity: 0.8;
	}
}

.chart-lg, .chart-md, .chart-sm {
	background-color: #fff;
	color: #ccc;
	margin: 20px 0px;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0px 1px 4px rgba(40,20,20,0.2);
	padding: 15px;
}

.chart-sm {
	width: 340px;
	float: right;
	margin-left: 30px;
}

.chart-sm-title {
	width: 340px;
	margin-left: 30px;
	font-size: 24px;
	color: $body-grey;
	font-family: $font-serif;
}

.chart-sm-wrapper {
	width: 370px;
	float: right;
}

.chart-md {
	width: 560px;
}

//TAXATION + INNOVATION CALCULATORS
.stakeholders, .definitions {
	display: inline-block;
	width: 160px;
	text-align: left;
}
.definitions {
	font-size: 10px;
	line-height: 12px;
}
.calculator {
	img { 
		width: 200px;
	}
	.stakeholder {
		margin-bottom: 10px;
	}
	.glyphicon {
		background-color: $red !important;
		color: #fff;
		border-radius: 100%;
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		line-height: 2rem;
		text-align: center;
		margin-right: 5px;
	}
}


// WATERFALL CHART - COAL
.waterfall-coal {
	.annotate {
		transition: all 1s;
	}
	.stage-2 {
		opacity: 0;
		transition: opacity 0.5s;
	}
	.stage-next:hover {
		opacity: 0.8;
		.stage-2 {
			opacity: 1;
		}
	}
}
//WATERFALL CHART - OIL