/* [sass, css, fonts.scss] */
@font-face {
  font-family: 'Chaparral Pro';
  src: url("fonts/chaparralpro-regular-webfont.eot");
  src: url("fonts/chaparralpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/chaparralpro-regular-webfont.woff") format("woff"), url("fonts/chaparralpro-regular-webfont.ttf") format("truetype"), url("fonts/chaparralpro-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cronos Pro';
  src: url("fonts/cronospro-lt-webfont.eot");
  src: url("fonts/cronospro-lt-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/cronospro-lt-webfont.woff") format("woff"), url("fonts/cronospro-lt-webfont.ttf") format("truetype"), url("fonts/cronospro-lt-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
