$font-sans: 'Lato', sans-serif;
$font-serif: 'chaparral-pro', Georgia, serif;
$font-detail: Verdana, Arial, sans-serif;
$font-heading: Lato, Verdana, Arial, sans-serif;

$cpi-orange: #E96D34;
$cpi-dk-orange: #B95727;
$cpi-brown: #9C4722;

$body-grey: #656565;

$red: #ef542c;
$dk-marine-blue: #326b84;
$dk-purple: rgb(113, 75, 121);
$gb-green: #35736b;
$green: #028b00;
$dk-blue: #174190;
$orange: #dd6a34;

svg {
	text { font-family: $font-sans;}
}

h1, h2, h3, h4, h5 {
	font-family: $font-heading;
	font-weight: bold;
}

h1 { font-size: 32px; clear: both; color: $red;}
h2 { font-size: 24px; clear: both; color: $cpi-brown;}


body {
	width: 100vw;
	background-color: #fcfcfc;
}

#header {
	height: 25px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	background-color: #fff;
	z-index: 1000;
	/*border-bottom: 2px red solid;*/
	box-shadow: 0px 2px 8px rgba(40,20,20,0.25);

	img {
		height: 60px;
		margin: 2px 0px 2px 5px;
	}

	#story-title {
		position: absolute;
		top: 0px;
		left: auto;
		font-size: 18px;
		color: $dk-marine-blue;
		width: 350px;
		font-family: $font-sans;
		text-align: center;
	}
}


h1.title {
	width: 860px;
	margin: auto;
	padding: 40px;
	font-size: 40px;
	color: #fff;
	margin-top: 100px;
}
h2.title {
	width: 860px;
	margin: auto;
	padding: 40px;
	font-size: 28px;
	color: #fff;
}

.top-bar {
	width: 100%;
}

#control-panel {
	width: 100%;
	background: #eee;
	padding: 20px;
	margin-top: 20px;
}
#push-start {
	width: 20%;
	display: inline-block;
}
.engine-start {
	height: 132px;
	width: 132px;
	border-radius: 100%;
	opacity: 0.9;
	cursor: pointer;
	text-align: center;
	color: #fff;
	padding: 20px 20px;
	border: 12px solid #555;
	font-size: 22px;
	box-shadow: 0px 4px 9px rgba(20,20,20,0.5) inset;
	background: -webkit-radial-gradient(#cfcfcf 5%, #ccc 15%, #888 60%); /* Safari 5.1-6.0 */
	background: -o-radial-gradient(#cfcfcf 5%, #ccc 15%, #888 60%); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient(#cfcfcf 5%, #ccc 15%, #888 60%); /* For Firefox 3.6-15 */
	background: radial-gradient(#cfcfcf 5%, #ccc 15%, #888 60%); /* Standard syntax */
}
.engine-start:hover {
	opacity: 1.0;
}
#throttle {
	width: 39%;
	display: inline-block;
}

#shift-points {
	width: 39%;
	display: inline-block;
}

.slider {
	width: 250px;
	display: inline-block;
}

.volume-slider {
	width: 200px;
	display: inline-block;
}

.noUi-connect {
	background: #F03B3B;
}
.noUi-handle {
	border-radius: 100%;
}

.noUi-horizontal .noUi-handle {
	width: 48px;
	height: 48px;
	left: -25px;
	top: -17px;
	opacity: 0.8;
}
.noUi-handle:before {
	display: none;
}

.noUi-handle:after {
	content: attr(data-content);
	top: 48px;
	left: 5px;
	font-size: 20px;
}

#controls, #model, #gauges {
	position: relative;
}

/* CONTROLS */
#controls-shifter {
	position: absolute;
	top: 132px;
	left: 360px;
	width: 80px;
	height: 80px;
}

#gear-selector {
	position: absolute;
	transform: translate(26px,26px);
	width: 24px;
	height: 24px;
	background-color: #F03B3B;
	opacity: 0.9;
	border-radius: 100%;
	transition: all 1s;
}
#gear-selector::after {
	content: attr(data-content);
	position: absolute;
	top: 3px;
	left: 7px;
	color: #fff;
}
#gear-selector.01::after {
	content: "1";
}
#gear-selector.02::after {
	content: "2";
}
#gear-selector.03::after {
	content: "3";
}
#gear-selector.04::after {
	content: "4";
}
#gear-selector.05::after {
	content: "5";
}


#pedal-clutch.animate {
	animation: depress-clutch ease-in-out 750ms;
	-webkit-animation: depress-clutch ease-in-out 750ms;
}

@-webkit-keyframes depress-clutch{
    0% {
    	transform: translate(0px,0px);}
    50% {
    	transform: translate(0px,-32px);}
    100% {
    	transform: translate(0px,0px);}
}


/* GAUGES */
#stroke-rpm {
	stroke-dasharray: 295;
	/*stroke-dashoffset: 295px;*/
}
#stroke-mph-1, 
#stroke-mph-2,
#stroke-mph-3,
#stroke-mph-4,
#stroke-mph-5 {
	opacity: 0;
	transition: all 250ms;
}
#stroke-mph-1.active, 
#stroke-mph-2.active,
#stroke-mph-3.active,
#stroke-mph-4.active,
#stroke-mph-5.active {
	opacity: 1;
}
#stroke-mph-1 { stroke-dasharray: 100; }
#stroke-mph-2 { stroke-dasharray: 144; }
#stroke-mph-3 { stroke-dasharray: 247; }
#stroke-mph-4 { stroke-dasharray: 310; }
#stroke-mph-5 { stroke-dasharray: 386; }


/* MODEL */
#gears .active {
	fill: #F03B3B;
}


#drive-wheel.spinning{
	-webkit-animation: wheel-spin linear;
  	-webkit-animation-duration: 5000ms;
	animation: wheel-spin linear;
  	animation-duration: 5000ms;
	
}


#drive-wheel {
	position: absolute;
	left: 681px;
	top: 210px;
	height: 160px;
	width: 160px;
	
}
#flywheel, #clutch {
	position: absolute;
	width: 10px;
	height: 90px;
}
#flywheel {
	top: 193px;
	left: 258px;
}
#clutch {
	top: 193px;
	left: 277px;
}

#drive-dot, #clutch-dot, #engine-dot {
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background-color: #333;
}
#drive-dot {
	top: 20px;
	left: 20px;
}
#clutch-dot, #engine-dot {
	top: -1px;
	left: 1px;
	animation: disk-revolve linear infinite;
  	animation-duration: 500ms;
	-webkit-animation: disk-revolve linear infinite;
  	-webkit-animation-duration: 500ms;
}
@keyframes wheel-spin {
    from {
    	transform: rotateZ(360deg);}
    to {
    	transform: rotateZ(0deg);}
}
@-webkit-keyframes wheel-spin {
    from {
    	transform: rotateZ(360deg);}
    to {
    	transform: rotateZ(0deg);}
}
@-webkit-keyframes disk-revolve {
    0% {
    	opacity: 0;
    	height: 4px;
    	transform: translate(0px,0px) rotateZ(0deg);}
    25% {
    	opacity: 1.0;
    	height: 8px;
    	transform: translate(0px,45px) rotateZ(0deg);}
    50% {
    	opacity: 0;
    	height: 4px;
    	transform: translate(0px,90px) rotateZ(0deg);}
    75% {
    	opacity: 0.;
    	height: 8px;
    	transform: translate(0px,45px) rotateZ(0deg);}
    100% {
    	opacity: 0;
    	height: 4px;
    	transform: translate(0px,0px) rotateZ(0deg);}
}
