<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="526px" height="275px" viewBox="0 0 526 275" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.0.4 (8053) - http://www.bohemiancoding.com/sketch -->
    <title>controls</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="78.0005463" y="138.801546" width="41" height="31.341073" rx="4"></rect>
        <rect id="path-2" x="160.477054" y="137.976781" width="70.1050317" height="36.2896635" rx="4"></rect>
        <path id="path-3" d="M279.934344,137.976781 C277.730629,137.976781 275.944165,139.769561 275.944165,141.97991 L275.944165,172.006732 C275.944165,174.217348 276.175032,177.78128 277.118252,179.764095 L292.777004,190.27089 C293.421609,192.339093 293.944165,195.802674 293.944165,198.007572 L293.944165,228.000948 C293.944165,230.209563 295.735881,232 297.938949,232 L307.949382,232 C310.15564,232 311.944165,230.205719 311.944165,227.990018 L311.944165,141.986763 C311.944165,139.772111 310.15892,137.976781 307.953987,137.976781 L279.934344,137.976781 Z"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Rectangle-7">
            <use stroke="#979797" stroke-width="3" fill="#D8D8D8" sketch:type="MSShapeGroup" xlink:href="#path-1"></use>
            <use stroke="none" fill="none" xlink:href="#path-1"></use>
        </g>
        <g id="Rectangle-8">
            <use stroke="#979797" stroke-width="3" fill="#D8D8D8" sketch:type="MSShapeGroup" xlink:href="#path-2"></use>
            <use stroke="none" fill="none" xlink:href="#path-2"></use>
        </g>
        <g id="Rectangle-9">
            <use stroke="#979797" stroke-width="3" fill="#D8D8D8" sketch:type="MSShapeGroup" xlink:href="#path-3"></use>
            <use stroke="none" fill="none" xlink:href="#path-3"></use>
        </g>
        <rect id="Rectangle-10" opacity="0.5" fill="#F03B3B" sketch:type="MSShapeGroup" x="78" y="154.600006" width="41" height="15.6705365" rx="4"></rect>
        <path d="M279.934344,161.894968 C277.730629,161.894968 275.944165,163.68838 275.944165,165.901853 L275.944165,174.795767 C275.944165,177.008709 277.417181,179.811362 279.245643,181.063477 L290.642688,188.868082 C292.466043,190.116701 293.944165,192.911367 293.944165,195.122215 L293.944165,228.006691 C293.944165,230.212135 295.735881,232 297.938949,232 L307.949382,232 C310.15564,232 311.944165,230.214341 311.944165,228.004554 L311.944165,165.890414 C311.944165,163.68379 310.15892,161.894968 307.953987,161.894968 L279.934344,161.894968 Z" id="Rectangle-11" opacity="0.5" fill="#F03B3B" sketch:type="MSShapeGroup"></path>
        <g id="Group" sketch:type="MSLayerGroup" transform="translate(370.792149, 143.750137)" fill="#D8D8D8">
            <rect id="Rectangle-12" sketch:type="MSShapeGroup" x="0" y="0" width="8.24765079" height="57.7335555" rx="4"></rect>
            <rect id="Rectangle-13" sketch:type="MSShapeGroup" x="24.7429524" y="0" width="8.24765079" height="57.7335555" rx="4"></rect>
            <rect id="Rectangle-14" sketch:type="MSShapeGroup" x="49.4859047" y="0" width="8.24765079" height="57.7335555" rx="4"></rect>
            <rect id="Rectangle-15" sketch:type="MSShapeGroup" transform="translate(28.866778, 28.866778) rotate(-90.000000) translate(-28.866778, -28.866778) " x="24.7429524" y="0" width="8.24765079" height="57.7335555" rx="4"></rect>
        </g>
        <g id="Oval-3-+-2" sketch:type="MSLayerGroup" transform="translate(360.894968, 187.462686)">
            <ellipse id="Oval-3" fill-opacity="0.799999952" fill="#E92222" sketch:type="MSShapeGroup" cx="12.3714762" cy="13.1962413" rx="12.3714762" ry="12.3714762"></ellipse>
            <text id="2" sketch:type="MSTextLayer" font-family=".Lucida Grande UI" font-size="19.0344828" font-weight="normal" fill="#FFFFFF">
                <tspan x="7.42288571" y="18">2</tspan>
            </text>
        </g>
        <text id="clutch" sketch:type="MSTextLayer" font-family="Raleway" font-size="18" font-weight="normal" fill="#9B9B9B">
            <tspan x="76.0005463" y="122.058594">clutch</tspan>
        </text>
        <text id="brakes" sketch:type="MSTextLayer" font-family="Raleway" font-size="18" font-weight="normal" fill="#9B9B9B">
            <tspan x="166.724705" y="122.058594">brakes</tspan>
        </text>
        <text id="gas" sketch:type="MSTextLayer" font-family="Raleway" font-size="18" font-weight="normal" fill="#9B9B9B">
            <tspan x="282.191816" y="122.058594">gas</tspan>
        </text>
        <text id="gear-shift" sketch:type="MSTextLayer" font-family="Raleway" font-size="18" font-weight="normal" fill="#9B9B9B">
            <tspan x="365.493089" y="122.058594">gear shift</tspan>
        </text>
        <path d="M521.5,20.9869258 L521.5,260.013382" id="Line" stroke="#E4E4E4" stroke-width="2" stroke-linecap="round" stroke-dasharray="1,4" sketch:type="MSShapeGroup"></path>
    </g>
</svg>