<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="750" height="489" viewBox="0 0 750 489" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>
        waterfall-transport
    </title>
    <desc>
        Created with Sketch.
    </desc>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="a">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="b">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="c">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="d">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="e">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="f">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="g">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="h">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="i">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="j">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="k">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="l">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="m">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="n">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="o">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(11.66 21.45)">
            <g transform="rotate(-90 119.871 222.756) translate(74.667 106.252)" stroke="#979797" stroke-linecap="square" stroke-dasharray="1,10">
                <path d="M0.826894291,0.426754603 L0.826894291,232.606368" id="Line-2"/>
                <path d="M22.5246005,0.426754603 L22.5246005,232.606368" id="Line-3"/>
                <path d="M44.2223067,0.426754603 L44.2223067,232.606368" id="Line-5"/>
                <path d="M65.9200129,0.426754603 L65.9200129,232.606368" id="Line-4"/>
                <path d="M89.5802148,0.426754603 L89.5802148,232.606368" id="Line-5"/>
            </g>
            <text font-size="14.222" font-weight="260" fill="#676767">
                <tspan x="1.864" y="306.59">
                    Amortization
                </tspan>
            </text>
            <text font-size="14.222" font-weight="260" fill="#676767">
                <tspan x="131.417" y="306.59">
                    Financing Costs
                </tspan>
            </text>
            <text font-size="11.143" font-weight="260" fill="#676767">
                <tspan x="1.864" y="329.687">
                    desctiption of this item.
                </tspan>
                <tspan x="1.864" y="342.687">
                    description of this item
                </tspan>
            </text>
            <text font-size="11.143" font-weight="260" fill="#676767">
                <tspan x="125.382" y="329.687">
                    desctiption of this item.
                </tspan>
                <tspan x="125.382" y="342.687">
                    description of this item
                </tspan>
            </text>
            <text font-size="14.667" font-weight="260" fill="#656565">
                <tspan x="0" y="34.087">
                    Renewable costs more to
                </tspan>
                <tspan x="0" y="51.087">
                    build…
                </tspan>
            </text>
            <rect fill="#D8D8D8" x="0" y="-.35" width="228.348" height="9.32"/>
            <text fill="#EF542C" font-size="11.143" font-weight="260">
                <tspan x="17.487" y="213.285">
                    3.0T
                </tspan>
            </text>
            <text fill="#326B84" font-size="11.143" font-weight="260">
                <tspan x="60.921" y="142.542">
                    6.0T
                </tspan>
            </text>
            <text fill="#EF542C" font-size="11.143" font-weight="260">
                <tspan x="146.028" y="245.065">
                    1.5T
                </tspan>
            </text>
            <text fill="#326B84" font-size="11.143" font-weight="260">
                <tspan x="194.201" y="234.813">
                    2.0T
                </tspan>
            </text>
            <path d="M2.33008013,292.192049 L230.677933,292.192049" id="Line-2" stroke="#979797" stroke-linecap="square"/>
            <g transform="translate(12.116 222.756)" class="costs amortization">
                <rect fill="#EF542C" x="0" y="0" width="27.961" height="68.97"/>
                <g transform="translate(2.796 1.398)" class="dollar">
                    <ellipse id="Oval-178" fill="#EF542C" filter="url(#a)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                    <text id="$" fill="#B23718" font-size="13.333" font-weight="bold">
                        <tspan x="7.216" y="14.954">
                            $
                        </tspan>
                    </text>
                </g>
            </g>
            <g transform="translate(55.922 151.921)" class="costs amortization-low">
                <rect id="Rectangle-595" fill="#326B84" x="0" y="0" width="27.961" height="139.805"/>
                <g transform="translate(2.425 1.398)" class="dollar">
                    <ellipse id="Oval-178" fill="#326B84" filter="url(#b)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                    <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                        <tspan x="7.216" y="14.954">
                            $
                        </tspan>
                    </text>
                </g>
            </g>
            <g transform="translate(187.338 245.124)" class="costs financing-low">
                <rect id="Rectangle-596" fill="#326B84" x=".275" y="-.311" width="27.961" height="47.534"/>
                <g transform="translate(3.071 .466)" class="dollar">
                    <ellipse id="Oval-178" fill="#326B84" filter="url(#c)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                    <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                        <tspan x="7.216" y="14.954">
                            $
                        </tspan>
                    </text>
                </g>
            </g>
            <g transform="translate(140.737 256.309)" class="costs financing">
                <rect fill="#EF542C" x="-.08" y="-.169" width="27.961" height="35.417"/>
                <g transform="translate(2.716 .466)" class="dollar">
                    <ellipse id="Oval-178" fill="#EF542C" filter="url(#d)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                    <text id="$" fill="#B23718" font-size="13.333" font-weight="bold">
                        <tspan x="7.216" y="14.954">
                            $
                        </tspan>
                    </text>
                </g>
            </g>
            <g transform="translate(261.901)" class="stage-2">
                <g transform="rotate(-90 115.106 222.756) translate(69.902 109.514)" stroke="#979797" stroke-linecap="square" stroke-dasharray="1,10">
                    <path d="M0.826894291,0.414805474 L0.826894291,226.09339" id="Line-2"/>
                    <path d="M22.5246005,0.414805474 L22.5246005,226.09339" id="Line-3"/>
                    <path d="M44.2223067,0.414805474 L44.2223067,226.09339" id="Line-5"/>
                    <path d="M65.9200129,0.414805474 L65.9200129,226.09339" id="Line-4"/>
                    <path d="M89.5802148,0.414805474 L89.5802148,226.09339" id="Line-5"/>
                </g>
                <g transform="rotate(-90 325.745 166.834) translate(224.62 124.426)" stroke="#979797" stroke-linecap="square" stroke-dasharray="1,10">
                    <path d="M0.826894291,0.155338675 L0.826894291,84.6687179" id="Line-2"/>
                    <path d="M22.5246005,0.155338675 L22.5246005,84.6687179" id="Line-3"/>
                    <path d="M44.2223067,0.155338675 L44.2223067,84.6687179" id="Line-5"/>
                    <path d="M65.9200129,0.155338675 L65.9200129,84.6687179" id="Line-4"/>
                    <path d="M89.5802148,0.155338675 L89.5802148,84.6687179" id="Line-5"/>
                    <path d="M112.670741,0.155338675 L112.670741,84.6687179" id="Line-4"/>
                    <path d="M134.368447,0.155338675 L134.368447,84.6687179"/>
                    <path d="M156.066153,0.155338675 L156.066153,84.6687179" id="Line-6"/>
                    <path d="M177.763859,0.155338675 L177.763859,84.6687179"/>
                    <path d="M201.424061,0.155338675 L201.424061,84.6687179"/>
                </g>
                <g transform="translate(357.9 150.989)" stroke="#FFFFFF" fill="#326B84" class="costs amortization-low">
                    <rect id="Rectangle-595" x="0" y="0" width="27.961" height="139.805"/>
                </g>
                <g transform="translate(357.9 103.456)" stroke="#FFFFFF" fill="#326B84" class="costs financing-low">
                    <rect id="Rectangle-596" x=".275" y="-.311" width="27.961" height="47.534"/>
                </g>
                <g transform="translate(357.9 41.941)" stroke="#FFFFFF" fill="#326B84" class="costs operating-low">
                    <rect id="Rectangle-598" x=".285" y=".254" width="27.961" height="60.582"/>
                </g>
                <g transform="translate(411.026 250.717)" stroke="#FFFFFF" fill="#326B84" class="costs amortization-low">
                    <rect x="0" y="0" width="27.961" height="139.805"/>
                </g>
                <g transform="translate(411.026 204.115)" stroke="#FFFFFF" fill="#326B84" class="costs financing-low">
                    <rect x=".275" y="-.311" width="27.961" height="47.534"/>
                </g>
                <g transform="translate(411.026 142.601)" stroke="#FFFFFF" fill="#326B84" class="costs operating-low">
                    <rect id="Rectangle-598" x=".285" y=".254" width="27.961" height="60.582"/>
                </g>
                <g transform="translate(357.9)" stroke="#FFFFFF" fill="#326B84" class="costs stranded">
                    <rect id="Rectangle-613" x="0" y="0" width="27.961" height="41.941"/>
                </g>
                <text font-size="14.815" font-weight="260" fill="#656565">
                    <tspan x="0" y="34.087">
                        … but renewable
                    </tspan>
                    <tspan x="0" y="51.087">
                        costs far less to
                    </tspan>
                    <tspan x="0" y="68.087">
                        operate…
                    </tspan>
                </text>
                <text font-size="14.222" font-weight="260" fill="#676767">
                    <tspan x="0" y="306.59">
                        Operating Costs
                    </tspan>
                </text>
                <text font-size="14.815" font-weight="260" fill="#676767">
                    <tspan x="136.077" y="306.59">
                        Stranded
                    </tspan>
                    <tspan x="136.077" y="323.59">
                        Fossil
                    </tspan>
                    <tspan x="136.077" y="340.59">
                        Assets
                    </tspan>
                </text>
                <text font-size="11.143" font-weight="260" fill="#676767">
                    <tspan x="136.077" y="362.308">
                        desctiption
                    </tspan>
                    <tspan x="136.077" y="375.308">
                        of this item.
                    </tspan>
                    <tspan x="136.077" y="388.308">
                        description
                    </tspan>
                    <tspan x="136.077" y="401.308">
                        of this item
                    </tspan>
                </text>
                <text font-size="11.143" font-weight="260" fill="#676767">
                    <tspan x="0" y="329.687">
                        desctiption of this item.
                    </tspan>
                    <tspan x="0" y="342.687">
                        description of this item
                    </tspan>
                </text>
                <path d="M269.357263,290.55037 L269.357263,1.04809947" id="Line" stroke="#D6D6D6" stroke-width="2" stroke-linecap="square"/>
                <rect fill="#D8D8D8" x="0" y="-.35" width="102.524" height="9.32"/>
                <rect fill="#D8D8D8" x="136.077" y="-.35" width="102.524" height="9.32"/>
                <path d="M0.43442398,292.192049 L228.782277,292.192049" id="Line" stroke="#979797" stroke-linecap="square"/>
                <rect fill="#EF542C" x="315.027" y="290.794" width="27.961" height=".932"/>
                <text font-size="14.222" font-weight="260" fill="#676767">
                    <tspan x="303.842" y="306.59">
                        TOTAL IMPACT
                    </tspan>
                </text>
                <text font-size="11.143" font-weight="260" fill="#676767">
                    <tspan x="303.842" y="329.687">
                        desctiption of this item.
                    </tspan>
                    <tspan x="303.842" y="342.687">
                        description of this item
                    </tspan>
                </text>
                <rect fill-opacity=".4" fill="#D8D8D8" x="357.9" y="0" width="27.961" height="61.514"/>
                <g transform="translate(411.026 61.514)" class="toggle-annotation-savings-2">
                    <rect stroke="#63D5D6" fill="#65EDF1" filter="url(#e)" x="0" y="0" width="27.961" height="81.087"/>
                    <g transform="translate(2.796 .932)">
                        <ellipse id="Oval-178" fill="#65EDF1" filter="url(#f)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#1FAEB1" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <text fill="#EF542C" font-size="11.143" font-weight="260">
                    <tspan x="16.555" y="159.125">
                        5.4T
                    </tspan>
                </text>
                <text fill="#EF542C" font-size="11.143" font-weight="260">
                    <tspan x="309.71" y="53.582">
                        x.xT
                    </tspan>
                </text>
                <g transform="translate(57.786 229.28)" class="costs operating-low">
                    <rect fill="#326B84" x=".285" y="2.118" width="27.961" height="60.582"/>
                    <g transform="translate(3.081 .466)" class="dollar">
                        <ellipse id="Oval-178" fill="#326B84" filter="url(#g)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(191.999 292.658)" class="costs stranded-low">
                    <rect fill="#326B84" x="0" y="0" width="27.961" height="97.863"/>
                    <g transform="translate(2.796 73.631)" class="dollar">
                        <ellipse id="Oval-178" fill="#326B84" filter="url(#h)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(146.329 249.785)" class="costs stranded">
                    <rect fill="#326B84" x="0" y="0" width="27.961" height="41.941"/>
                    <g transform="translate(2.796 .932)" class="dollar">
                        <circle id="Oval-178" fill="#326B84" filter="url(#i)" cx="11.184" cy="11.184" r="11.184"/>
                        <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(360.696 .932)">
                    <ellipse id="Oval-178" fill="#326B84" filter="url(#j)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                    <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                        <tspan x="7.216" y="14.954">
                            $
                        </tspan>
                    </text>
                </g>
                <path d="M391.919478,0.466016026 L391.919478,61.0480995" stroke="#457B8F" stroke-width="2" stroke-linecap="square"/>
                <path d="M445.045305,61.9801315 L445.045305,142.134888" stroke="#457B8F" stroke-width="2" stroke-linecap="square"/>
                <g transform="translate(11.184 166.834)" class="costs operating">
                    <rect fill="#EF542C" x="-.07" y=".104" width="27.961" height="124.892"/>
                    <g transform="translate(3.262 .932)" class="dollar">
                        <ellipse id="Oval-178" fill="#EF542C" filter="url(#k)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#B23718" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(303.842 61.514)">
                    <rect stroke="#FFFFFF" fill="#EF542C" x="0" y="160.31" width="27.961" height="68.97" class="costs amortization"/>
                    <rect stroke="#FFFFFF" fill="#EF542C" x="0" y="124.892" width="27.961" height="35.417" class="costs financing"/>
                    <rect stroke="#FFFFFF" fill="#EF542C" x="0" y="0" width="27.961" height="124.892" class="costs operating"/>
                    <g transform="translate(3.244 .932)">
                        <circle id="Oval-178" fill="#EF542C" filter="url(#l)" cx="11.184" cy="11.184" r="11.184"/>
                        <text fill="#B23718" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <text fill="#326B84" font-size="11.143" font-weight="260">
                    <tspan x="63.717" y="221.764">
                        2.6T
                    </tspan>
                </text>
                <text fill="#326B84" font-size="11.143" font-weight="260">
                    <tspan x="151.699" y="242.269">
                        1.8T
                    </tspan>
                </text>
                <path d="M297.759033,291.260017 L442.868337,291.260017" stroke="#979797" stroke-linecap="square"/>
                <text fill="#326B84" font-size="11.143" font-weight="260">
                    <tspan x="195.767" y="285.142">
                        -4.2T
                    </tspan>
                </text>
                <g transform="translate(384 379)" font-weight="260" fill="#326B84" font-size="11.143" class="costs-stranded-low">
                    <text>
                        <tspan x=".037" y="10.41">
                            -4.2T
                        </tspan>
                    </text>
                </g>
                <text fill="#326B84" font-size="9.167" font-weight="260">
                    <tspan x="139.79" y="226.288">
                        Added Cost
                    </tspan>
                </text>
                <text fill="#326B84" font-size="9.167" font-weight="260">
                    <tspan x="142.972" y="215.104">
                        Scenario 1
                    </tspan>
                </text>
                <text fill="#326B84" font-size="9.167" font-weight="260">
                    <tspan x="191.999" y="414.366">
                        Added Value
                    </tspan>
                </text>
                <text fill="#326B84" font-size="9.167" font-weight="260">
                    <tspan x="191.999" y="403.182">
                        Scenario 2
                    </tspan>
                </text>
                <g transform="translate(191.999 223.688)" class="toggle-annotation-savings">
                    <circle stroke="#FFFFFF" stroke-width="4" fill="#797979" filter="url(#m)" cx="14.446" cy="14.446" r="14.446"/>
                    <text font-size="16.364" font-weight="bold" fill="#FAFAFA">
                        <tspan x="9.32" y="19.728">
                            ?
                        </tspan>
                    </text>
                </g>
                <text font-size="14.857" font-weight="260" fill="#656565">
                    <tspan x="136.077" y="34.087">
                        there’s a range of
                    </tspan>
                    <tspan x="136.077" y="51.087">
                        possible outcomes
                    </tspan>
                    <tspan x="136.077" y="68.087">
                        when we account for
                    </tspan>
                    <tspan x="136.077" y="85.087">
                        stranded assets from
                    </tspan>
                    <tspan x="136.077" y="102.087">
                        fossil fuels,
                    </tspan>
                    <tspan x="136.077" y="119.087">
                        depending on policy
                    </tspan>
                    <tspan x="136.077" y="136.087">
                        pathway chosen
                    </tspan>
                </text>
            </g>
            <g transform="translate(568.026 95.99)" class="annotation-cost hidden">
                <rect fill="#FFFFFF" filter="url(#n)" x="0" y="0" width="130.484" height="81" rx="4"/>
                <text font-size="18.261" font-weight="260" fill="#656565">
                    <tspan x="6.781" y="59.145">
                        Potential net cost
                    </tspan>
                </text>
                <text font-size="20" font-weight="normal" fill="#326B84">
                    <tspan x="5.781" y="34.184">
                        $2.5 Trillion
                    </tspan>
                </text>
            </g>
            <g transform="translate(568.026 180.99)" class="annotation-savings hidden">
                <rect fill="#FFFFFF" filter="url(#o)" x="0" y="0" width="130.484" height="81" rx="4"/>
                <text font-size="18.261" font-weight="260" fill="#656565">
                    <tspan x="6.781" y="48.688">
                        Potential net
                    </tspan>
                    <tspan x="6.781" y="69.688">
                        savings
                    </tspan>
                </text>
                <text fill="#07D5DA" font-size="20" font-weight="normal">
                    <tspan x="5.781" y="23.727">
                        $3.5 Trillion
                    </tspan>
                </text>
            </g>
        </g>
    </g>
</svg>
