<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="750" height="334" viewBox="0 0 750 334" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>
        waterfall-renewable
    </title>
    <desc>
        Created with Sketch.
    </desc>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="a">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="b">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="c">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="d">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="e">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="f">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="g">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="h">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="i">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="j">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="k">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="l">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="m">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(12 19.133)">
            <g transform="translate(261.901)" class="stage-2">
                <rect fill="#EF542C" x="136.077" y="248.076" width="27.961" height=".932"/>
                <text font-size="14.815" font-weight="260" fill="#656565">
                    <tspan x="0" y="51.369">
                        … but renewable
                    </tspan>
                    <tspan x="0" y="68.369">
                        costs far less to
                    </tspan>
                    <tspan x="0" y="85.369">
                        operate…
                    </tspan>
                </text>
                <text font-size="14.889" font-weight="260" fill="#656565">
                    <tspan x="136.077" y="51.369">
                        ….even when we
                    </tspan>
                    <tspan x="136.077" y="68.369">
                        account for
                    </tspan>
                    <tspan x="136.077" y="85.369">
                        stranded assets
                    </tspan>
                    <tspan x="136.077" y="102.369">
                        from fossil fuels.
                    </tspan>
                </text>
                <text font-size="14.222" font-weight="260" fill="#676767">
                    <tspan x="0" y="263.872">
                        Operating Costs
                    </tspan>
                </text>
                <text font-size="14.667" font-weight="260" fill="#676767">
                    <tspan x="136.077" y="263.872">
                        Stranded Fossil
                    </tspan>
                    <tspan x="136.077" y="280.872">
                        Assets
                    </tspan>
                </text>
                <text font-size="11.143" font-weight="260" fill="#676767">
                    <tspan x="136.077" y="296.289">
                        desctiption of this item.
                    </tspan>
                    <tspan x="136.077" y="309.289">
                        description of this item
                    </tspan>
                </text>
                <g transform="rotate(-90 115.106 180.038) translate(69.902 66.796)" stroke="#979797" stroke-linecap="square" stroke-dasharray="1,10">
                    <path d="M0.826894291,0.414805474 L0.826894291,226.09339" id="Line-2"/>
                    <path d="M22.5246005,0.414805474 L22.5246005,226.09339" id="Line-3"/>
                    <path d="M44.2223067,0.414805474 L44.2223067,226.09339" id="Line-5"/>
                    <path d="M65.9200129,0.414805474 L65.9200129,226.09339" id="Line-4"/>
                    <path d="M89.5802148,0.414805474 L89.5802148,226.09339" id="Line-5"/>
                </g>
                <text font-size="11.143" font-weight="260" fill="#676767">
                    <tspan x="0" y="286.969">
                        desctiption of this item.
                    </tspan>
                    <tspan x="0" y="299.969">
                        description of this item
                    </tspan>
                </text>
                <path d="M269.357263,248.873763 L269.357263,18.3300801" id="Line" stroke="#D6D6D6" stroke-width="2" stroke-linecap="square"/>
                <rect fill="#D8D8D8" x="0" y="16.932" width="102.524" height="9.32"/>
                <rect fill="#D8D8D8" x="136.077" y="16.932" width="102.524" height="9.32"/>
                <path d="M0.43442398,249.474029 L228.782277,249.474029" stroke="#979797" stroke-linecap="square"/>
                <rect fill="#EF542C" x="315.027" y="248.076" width="27.961" height=".932"/>
                <text font-size="14.222" font-weight="260" fill="#676767">
                    <tspan x="303.842" y="263.872">
                        TOTAL IMPACT
                    </tspan>
                </text>
                <text font-size="11.143" font-weight="260" fill="#676767">
                    <tspan x="303.842" y="286.969">
                        desctiption of this item.
                    </tspan>
                    <tspan x="303.842" y="299.969">
                        description of this item
                    </tspan>
                </text>
                <text fill="#EF542C" font-size="11.143" font-weight="260">
                    <tspan x="16.555" y="111.747">
                        5.5T
                    </tspan>
                </text>
                <text fill="#EF542C" font-size="11.143" font-weight="260">
                    <tspan x="307.32" y="9.747">
                        X.XT
                    </tspan>
                </text>
                <text fill="#326B84" font-size="11.143" font-weight="260">
                    <tspan x="63.717" y="218.192">
                        0.9T
                    </tspan>
                </text>
                <text fill="#EF542C" font-size="11.143" font-weight="260">
                    <tspan x="144.698" y="244.095">
                        0T
                    </tspan>
                </text>
                <text fill="#326B84" font-size="11.143" font-weight="260">
                    <tspan x="188.981" y="215.395">
                        1.1T
                    </tspan>
                </text>
                <path d="M302.759033,248.541997 L388.19135,248.541997" id="Line-3" stroke="#979797" stroke-linecap="square"/>
                <g transform="translate(197.591 275.105)">
                    <circle id="Oval-178" stroke="#FFFFFF" stroke-width="4" fill="#797979" filter="url(#a)" cx="14.446" cy="14.446" r="14.446"/>
                    <text font-size="16.364" font-weight="bold" fill="#FAFAFA">
                        <tspan x="9.32" y="19.728">
                            ?
                        </tspan>
                    </text>
                </g>
                <g transform="translate(57.786 226.639)" class="costs operating-renewables">
                    <rect fill="#326B84" x=".285" y="1.186" width="27.961" height="21.183"/>
                    <g transform="translate(3.081 -.466)" class="dollar">
                        <ellipse id="Oval-178" fill="#326B84" filter="url(#b)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(183.61 222.911)" class="costs stranded-renewables">
                    <rect fill="#326B84" x="0" y="0" width="27.961" height="25.89"/>
                    <g transform="translate(2.796 .932)" class="dollar">
                        <ellipse id="Oval-178" fill="#326B84" filter="url(#c)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(357.9 16)">
                    <path d="M0,167.76577 L0,232.947231 L27.9609616,232.947231 L27.9609616,167.76577 L0,167.76577 Z" stroke="#FFFFFF" fill="#326B84" class="costs amortization-renewables"/>
                    <rect stroke="#FFFFFF" fill="#326B84" x="0" y="90.407" width="27.961" height="77.669" class="costs financing-renewables"/>
                    <rect stroke="#FFFFFF" fill="#326B84" x="0" y="41.941" width="27.961" height="25.89" class="costs stranded-renewables"/>
                    <rect stroke="#FFFFFF" fill="#326B84" x="0" y="68.97" width="27.961" height="21.183" class="costs operating-renewables"/>
                    <g transform="translate(2.796 43.806)" class="dollar">
                        <ellipse id="Oval-178" fill="#326B84" filter="url(#d)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                    <g class="toggle-annotation-savings">
                        <rect stroke="#63D5D6" fill="#65EDF1" filter="url(#e)" x="0" y="0" width="27.961" height="41.009"/>
                        <g transform="translate(2.796 1.864)">
                            <ellipse id="Oval-178" fill="#65EDF1" filter="url(#f)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                            <text id="$" fill="#1FAEB1" font-size="13.333" font-weight="bold">
                                <tspan x="7.216" y="14.954">
                                    $
                                </tspan>
                            </text>
                        </g>
                    </g>
                </g>
                <g transform="translate(11.184 119.456)" class="costs operating-coal">
                    <rect fill="#EF542C" x="-.07" y=".104" width="27.961" height="129.449"/>
                    <g transform="translate(3.262 .932)">
                        <ellipse id="Oval-178" fill="#EF542C" filter="url(#g)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#B23718" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(303.842 16)">
                    <rect stroke="#FFFFFF" fill="#EF542C" x="0" y="130.484" width="27.961" height="63.548" class="costs financing-coal"/>
                    <rect stroke="#FFFFFF" fill="#EF542C" x="0" y="192.931" width="27.961" height="40.011" class="costs amortization-coal"/>
                    <rect stroke="#FFFFFF" fill="#EF542C" x="0" y="0" width="27.961" height="129.449" class="costs operating-coal"/>
                    <g transform="translate(3.244 .932)">
                        <ellipse id="Oval-178" fill="#EF542C" filter="url(#h)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#B23718" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(280.542 97.087)" class="annotation-savings hidden">
                    <rect fill="#FFFFFF" filter="url(#i)" x="0" y="0" width="130.484" height="97.863" rx="4"/>
                    <text font-size="18.261" font-weight="260" fill="#656565">
                        <tspan x="6.781" y="57.941">
                            Potential net
                        </tspan>
                        <tspan x="6.781" y="78.941">
                            savings
                        </tspan>
                    </text>
                    <text fill="#07D5DA" font-size="22.345" font-weight="normal">
                        <tspan x="6.781" y="34.116">
                            $1.8
                        </tspan>
                        <tspan x="6.781" y="61.116">
                            Trillion
                        </tspan>
                    </text>
                </g>
            </g>
            <g transform="translate(0 16.932)" class="stage-1">
                <text font-size="14.222" font-weight="260" fill="#676767">
                    <tspan x="1.864" y="246.94">
                        Amortization
                    </tspan>
                </text>
                <text font-size="14.222" font-weight="260" fill="#676767">
                    <tspan x="131.417" y="246.94">
                        Financing Costs
                    </tspan>
                </text>
                <text font-size="11.143" font-weight="260" fill="#676767">
                    <tspan x="1.864" y="270.037">
                        desctiption of this item.
                    </tspan>
                    <tspan x="1.864" y="283.037">
                        description of this item
                    </tspan>
                </text>
                <text font-size="11.143" font-weight="260" fill="#676767">
                    <tspan x="125.382" y="270.037">
                        desctiption of this item.
                    </tspan>
                    <tspan x="125.382" y="283.037">
                        description of this item
                    </tspan>
                </text>
                <text font-size="14.667" font-weight="260" fill="#656565">
                    <tspan x="0" y="34.437">
                        Renewable costs more to
                    </tspan>
                    <tspan x="0" y="51.437">
                        build…
                    </tspan>
                </text>
                <rect fill="#D8D8D8" x="0" y="0" width="228.348" height="9.32"/>
                <g transform="rotate(-90 119.871 163.106) translate(74.667 46.602)" stroke="#979797" stroke-linecap="square" stroke-dasharray="1,10">
                    <path d="M0.826894291,0.426754603 L0.826894291,232.606368" id="Line-2"/>
                    <path d="M22.5246005,0.426754603 L22.5246005,232.606368"/>
                    <path d="M44.2223067,0.426754603 L44.2223067,232.606368" id="Line-5"/>
                    <path d="M65.9200129,0.426754603 L65.9200129,232.606368"/>
                    <path d="M89.5802148,0.426754603 L89.5802148,232.606368"/>
                </g>
                <text fill="#EF542C" font-size="11.143" font-weight="260">
                    <tspan x="17.487" y="182.528">
                        1.7T
                    </tspan>
                </text>
                <text fill="#326B84" font-size="11.143" font-weight="260">
                    <tspan x="60.921" y="159.318">
                        2.8T
                    </tspan>
                </text>
                <text fill="#EF542C" font-size="11.143" font-weight="260">
                    <tspan x="146.028" y="157.454">
                        2.7T
                    </tspan>
                </text>
                <text fill="#326B84" font-size="11.143" font-weight="260">
                    <tspan x="194.201" y="144.406">
                        3.3T
                    </tspan>
                </text>
                <path d="M2.33008013,232.541997 L230.677933,232.541997" stroke="#979797" stroke-linecap="square"/>
                <g transform="translate(12.116 191.999)" class="costs amortization-coal">
                    <g fill="#EF542C">
                        <rect x="0" y="0" width="27.961" height="40.011"/>
                    </g>
                    <g transform="translate(2.796 1.398)" class="dollar">
                        <circle id="Oval-178" fill="#EF542C" filter="url(#j)" cx="11.184" cy="11.184" r="11.184"/>
                        <text id="$" fill="#B23718" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(55.922 168.698)" class="costs amortization-renewables">
                    <g fill="#326B84">
                        <rect x="0" y="0" width="27.961" height="63.844"/>
                    </g>
                    <g transform="translate(2.425 1.398)" class="dollar">
                        <ellipse id="Oval-178" fill="#326B84" filter="url(#k)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(187.338 154.717)" class="costs financing-renewables">
                    <g fill="#326B84">
                        <rect x=".275" y="-.311" width="27.961" height="77.669"/>
                    </g>
                    <g transform="translate(3.071 .466)" class="dollar">
                        <ellipse id="Oval-178" fill="#326B84" filter="url(#l)" cx="11.184" cy="11.184" rx="11.184" ry="11.184"/>
                        <text id="$" fill="#0C4057" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
                <g transform="translate(150.057 169.63)" class="costs financing-coal">
                    <g fill="#EF542C">
                        <rect x="-.08" y="-.169" width="27.961" height="63.548"/>
                    </g>
                    <g transform="translate(2.716 .466)" class="dollar">
                        <circle fill="#EF542C" filter="url(#m)" cx="11.184" cy="11.184" r="11.184"/>
                        <text fill="#B23718" font-size="13.333" font-weight="bold">
                            <tspan x="7.216" y="14.954">
                                $
                            </tspan>
                        </text>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
