{% layout "layout" %}
{% block content %}

    <div>
    <img class="top-bar" src="/img/top-bar.png" />


    <div ng-controller="TransController as trans">
    	<h2>{{{trans.product.name}}}</h2>
    	<h2>{{{trans.product.price}}}</h2>
    </div>

    <p>
    	I am ((4 + 6 ))
    	I am {{{ "hello"  }}}
    </p>


        {% include "controls" %}
        {% include "gauges" %}
        {% include "model" %}
      
    </div>

{% endblock %}